run = "vite dev --open"
entrypoint = "README.md"
modules = ["svelte-kit-node-20", "nodejs-20", "bash"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5173
externalPort = 80
exposeLocalhost = true

[rules]

[rules.formatter]

[rules.formatter.fileExtensions]

[rules.formatter.fileExtensions.".ts"]
id = "module:nodejs-20/formatter:prettier"
