run = "pnpm dev --open"
modules = ["nodejs-20", "web", "nodejs-22"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 4173
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 5173
externalPort = 80
exposeLocalhost = true

[rules]

[rules.formatter]

[rules.formatter.fileExtensions]

[rules.formatter.fileExtensions.".ts"]
id = "module:nodejs-20/formatter:prettier"

[deployment]
run = ["sh", "-c", "pnpm dev --open"]

[workflows]

[[workflows.workflow]]
name = "Build"
mode = "sequential"
author = 38587534

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm build"

[[workflows.workflow]]
name = "update dependes"
mode = "sequential"
author = 38587534

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm update"
