entrypoint = "src/routes/+page.svelte"
modules = ["svelte-kit-node-20", "nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
build = ["npm", "run", "build"]
run = ["node", "build"]
deploymentTarget = "gce"

[[ports]]
localPort = 4173
externalPort = 8080
exposeLocalhost = true

[[ports]]
localPort = 4983
externalPort = 8008
exposeLocalhost = true

[[ports]]
localPort = 5173
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 5174
externalPort = 8000
exposeLocalhost = true

[workflows]

[[workflows.workflow]]
name = "build"
mode = "sequential"
author = 39341409

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm build"

[[workflows.workflow]]
name = "previe"
mode = "sequential"
author = 39341409

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm preview"
